<!DOCTYPE html>
<html>
    <head>
        <title>Your Machine Learning App</title>
    </head>
    <h1 align = "center">Display Detection Model</h1><br />
    <body>
        <form name="form", method="POST", style="text-align: center;">
            X1: <input type="number" name="X1", placeholder="Enter X1" required/>
            <br /><br />
            X2: <input type="number" name="X2", placeholder="Enter X2" required/>
            <br /><br />
            X3: <input type="number" name="X3", placeholder="Enter X3" required/>
            <br /><br />
            X4: <input type="number" name="X4", placeholder="Enter X4" required/>
            <br /><br />
            X6: <input type="number" name="X6", placeholder="Enter X6" required/>
            <br /><br />
            X7: <input type="number" name="X7", placeholder="Enter X7" required/>
            <br /><br />
            <center><strong>Set 1 to the according supermarket and let 0 for the others</strong></center>
            CASINO: <input type="number" value = "0" name="CASINO", placeholder="Enter CASINO" required/>
            <br /><br />
            AUCHAN: <input type="number" value = "0" name="AUCHAN", placeholder="Enter AUCHAN" required/>
            <br /><br />
            CARREFOUR: <input type="number" value = "0" name="CARREFOUR", placeholder="Enter CARREFOUR" required/>
            <br /><br />
            LECLERC: <input type="number" value = "0" name="LECLERC", placeholder="Enter LECLERC" required/>
            <br /><br />
            GEANT: <input type="number" value = "0" name="GEANT", placeholder="Enter GEANT" required/>
            <br /><br />
            INTERMARCHE: <input type="number" value = "0" name="INTERMARCHE", placeholder="Enter INTERMARCHE" required/>
            <br /><br />
            CORA: <input type="number" value = "0" name="CORA", placeholder="Enter CORA" required/>
            <br /><br />
            CARREFOUR MARKET: <input type="number" value = "0" name="CARREFOUR MARKET", placeholder="Enter CARREFOUR MARKET" required/>
            <br /><br />
            SUPER U: <input type="number" value = "0" name="SUPER U", placeholder="Enter SUPER U" required/>
            <br /><br />
            SIMPLY MARKET: <input type="number" value = "0" name="SIMPLY MARKET", placeholder="Enter SIMPLY MARKET" required/>
            <br /><br />
            MONOPRIX: <input type="number" value = "0" name="MONOPRIX", placeholder="Enter MONOPRIX" required/>
            <br /><br />
            MATCH: <input type="number" value = "0" name="MATCH", placeholder="Enter MATCH" required/>
            <br /><br />
            MARCHE U: <input type="number" value = "0" name="MARCHE U", placeholder="Enter MARCHE U" required/>
            <br /><br />
            HYPER U: <input type="number" value = "0" name="HYPER U", placeholder="Enter HYPER U" required/>
            <br /><br />
            PRISUNIC: <input type="number" value = "0" name="PRISUNIC", placeholder="Enter PRISUNIC" required/>
            <br /><br />
            ECOMARCHE: <input type="number" value = "0" name="ECOMARCHE", placeholder="Enter ECOMARCHE" required/>
            <br /><br />
            FRANPRIX: <input type="number" value = "0" name="FRANPRIX", placeholder="Enter FRANPRIX" required/>
            <br /><br />
            OTHERS: <input type="number" value = "0" name="OTHERS", placeholder="Enter OTHERS" required/>
            <br /><br />
            SHOPI: <input type="number" value = "0" name="SHOPI", placeholder="Enter SHOPI" required/>
            <br /><br />
            <button value="Submit">Run</button>
        </form>
        <h1 style="text-align: center;">{{ output }}</p>
    </body>
</html>